.recruit {
	margin-top: -4px;
}

.employeebadge {
	margin-top: -10px;
}

.shipgeneratorbtn {
	margin-top: 10px;
	margin-bottom: 10px;
}
.constructdockbtn {
	margin-left: 10px;
	margint-top: 10px;
}