<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-3.1.1/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-3.1.1/css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
{% if not dock.employee_set.all %}
	<script type="text/javascript" src="{% static 'js/detail.js' %}"></script>
{% endif %}
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
			<h1 class="pagetitle">Rotterdam Port</h1>
		<ol class="breadcrumb">
		  <li><a href="{% url 'port' %}">Port</a></li>
		  <li><a href="{% url 'dock_detail' dock.pk %}" class="active">{{dock}}</a></li>
		</ol>
		</nav>
		
		{% if not dock.employee_set.all %}
		<div class="alert alert-warning">
		  <strong>Warning!</strong> No operations can be executed as there are no employees assigned to this dock. Please assign some people!
		</div>
		{% endif %}

		<div class="page-header">
			<h1>{{dock.name}}</h1>
		</div>
		
		
		{% if not dock.ship %}
			<div class="panel panel-success">
			  	<div class="panel-heading">
			  		<h3><strong>Currently available</strong></h3>
			  	</div>
		  	</div>

		{% else %}
			<!-- Display this div only when there is a ship -->
			<div class="panel panel-primary">
		  	<div class="panel-heading">
		  		<h3>Currently occupied by: <strong>{{dock.ship}}</strong></h3>
		  	</div>

			<div class="panel-body">
			
			{% with containers=dock.ship.container_set.all %}
			
			{% if not containers %}
				<div class="alert alert-danger">There are no containers on this ship.</div>
			{% else %}

			<table class="table table-hover">
				<thead>
					<tr><h2>Ship containers</h2></tr>
		    		<tr>
		    			<td><strong>Container<strong></td>
		    			<td><strong>Container information<strong></td>
		    		</tr>
		    	</thead>
		    	<tbody>
					{% for container in containers %}
						<tr>
							<div class="row">
								<td class="col-md-3">{{container}}</td>
								<td class="col-md-9">
									{% if container.is_flamable %}
									<span class="label label-danger"><span class="glyphicon glyphicon-fire"></span> FLAMABLE</span>
									{% endif %}
									{% if container.is_chemical_hazard %}
									<span class="label label-warning"><span class="glyphicon glyphicon-warning-sign"></span> CHEMICAL HAZARD</span>
									{% endif %}
									<form class="pull-right" name="removecontainer" method="post" action="{% url 'dock_detail' dock.pk %}">
										{% csrf_token %}
										<input type="hidden" name="action" value="removecontainer">
										<input type="hidden" name="container_uid" value="{{container.uid}}">
										<input class="btn btn-sm btn-danger" type="submit" name="removeShip" value="Remove from ship">
									</form>
								</td>
							</div>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			
			{% endif %}
			{% endwith %}
			</div> <!-- close panel body -->
			</div> <!-- close panel -->
		{% endif %}

		<ul class="list-group">
			<li class="list-group-item active">
				<strong class="group-title">Employees assigned to this dock</strong>
			</li>
			{% for employee in dock.employee_set.all %}
				<li class="list-group-item">
					<div class="row">
						<div class="col-md-4">
							{% if employee.is_supervisor %}
								<span class="glyphicon glyphicon-user"></span> <strong>{{ employee.first_name }} {{ employee.last_name }} <em class="supervisor-text">supervisor</em></strong>
							{% else %}
								<span class="glyphicon glyphicon-user"></span> <strong>{{ employee.first_name }} {{ employee.last_name }}</strong>
							{% endif %}
						</div>
						<div class="col-md-8">
							<form class="pull-right" name="releaseemployee" method="post" action="{% url 'dock_detail' dock.pk %}">
								{% csrf_token %}
								<input type="hidden" name="employee_id" value="{{employee.id}}">
								<input type="hidden" name="action" value="releaseemployee">
								<input class="btn btn-danger btn-sm" type="submit" value="Release employee">
							</form>
						</div>
					</div>
				</li>
			{% empty %}
				<div class="alert alert-danger">There are no employees assigned to this dock.</div>
			{% endfor %}
		</ul>
		
		<ul class="list-group">
			<li class="list-group-item active">
				<strong class="group-title">Available containers</strong>
			</li>
			{% if available_containers %}
				<form name="containercontrol" method="post" action="{% url 'dock_detail' dock.pk %}">
					{% csrf_token %}
					{% for container in available_containers %}
						<li class="list-group-item">
						<div class="row">
							<div class="col-md-3">
								<input type="checkbox" name="move_containers" value="{{ container.uid }}">
								<strong>{{ container }}</strong>
							</div>
							<div class="col-md-9">
								{% if container.is_flamable %}
									<span class="label label-danger"><span class="glyphicon glyphicon-fire"></span> FLAMABLE</span>
								{% endif %}
								{% if container.is_chemical_hazard %}
									<span class="label label-warning"><span class="glyphicon glyphicon-warning-sign"></span> CHEMICAL HAZARD</span>
								{% endif %}
							</div>
						</div>
						</li>
					{% endfor %}
					<input name="ship_id" type="hidden" value="{{dock.ship.uid}}">
					<input type="hidden" name="action" value="containercontrol">
					{% if not dock.employee_set.all or not dock.ship %}
						<div class="alert alert-warning">
							You cannot move items when no employees are assigned to this dock or no ship is docked! <a href="{% url 'port' %}">Go back to the port</a>
						</div>
					{% else %}
						<input class="btn btn-sm btn-success placecontainer" name="placecontainer" type="submit" value="Place on ship">
					{% endif %}
					<input class="btn btn-sm btn-danger deletecontainer" name="deletecontainer" type="submit" value="Delete containers">
				</form>
			{% else %}
				<div class="alert alert-danger">No other containers are available</div>
			{% endif %}
		</ul>
		
		<ul class="list-group">
			<li class="list-group-item active">
				<strong class="group-title">Create a container</strong>
			</li>
			<form name="createcontainer" method="post" action="{% url 'dock_detail' dock.pk %}">
			{% csrf_token %}
			<li class="list-group-item">
				<input type="checkbox" name="flamable" value="1"> Contains flamable items <span class="glyphicon glyphicon-fire"></span>
			</li>
			<li class="list-group-item">
				<input type="checkbox" name="chemicalhazard" value="1"> Contains dangerous chemicals <span class="glyphicon glyphicon-warning-sign"></span>
			</li>
			<input type="hidden" name="action" value="createcontainer">
			<li class="list-group-item">
				<input class="btn btn-sm btn-success" type="submit" value="Create new container">
			</li>
		</form>
		</ul>
		
		<ul class="list-group">
			<li class="list-group-item active">
				<strong class="group-title">Dock history</strong>
			</li>
			{% if not dock_history %}
				<div class="alert alert-warning">No history available for this dock!</div>
			{% else %}
					<li class="list-group-item">
						<div class="row">
							<strong>
								<div class="col-md-3">Ship</div>
								<div class="col-md-3">In</div>
								<div class="col-md-3">Out</div>
								<div class="col-md-3">Time</div>
							</strong>
						</div>
					</li>
				{% for record in dock_history %}
					<li class="list-group-item">
						<div class="row">
							<div class="col-md-3"><span class="text-info">{{record.ship}}</span></div>
							<div class="col-md-3">{{record.date_in}}</div>
							{% if record.date_out %}
								<div class="col-md-3">{{record.date_out}}</div>
								<div class="col-md-3">{{record.date_in|timesince:record.date_out}}</div>
							{% else %}
								<div class="col-md-3"><span class="label label-success">IN DOCK</span></div>
								<div class="col-md-3">{{now|timesince:record.date_in}}</div>
							{% endif %}
						</div>
					</li>
				{% endfor %}
			{% endif %}
		
		</ul>

		<button class="btn btn-default"><a href="{% url 'port' %}">Go back to the port</a></button>
	
	</div>
</body>
</html>